html
{
    scroll-behavior: smooth;
}
.accueil
{
    width:100%;
    /* height:90vh; */
    background:rgb(0, 255, 255);
    overflow: hidden;
}
/*================ cercle de decoration =================*/
.frant-1 .decoration
{
    background:#E6D9C8;
    border:1px solid grey;
    border-radius:50%;
    position: absolute;
}
.frant-1 .decoration:nth-child(3)
{
    width:200px;
    height:200px;
    top:-120px;
    right:300px;
}
.frant-1 .decoration:nth-child(4)
{
    width:300px;
    height:300px;
    bottom:-180px;
    left:100px;
}
/*=====================================================*/
.accueil .frant
{
    position:relative;
}
.accueil .frant-1
{
    width:100%;
    height:100vh;
    background:url(../../Asset/Static-Img/back1.jpg);
    background-position:center;
    background-size:cover;
    overflow-y: hidden;
}
.accueil .frant-1 header
{
    width:100%;
    height:20%;
    /* background:pink; */
    color:#463F57;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.accueil .frant-1 header img
{
    width:200px;
    height:200px;
    margin-left:50px;
}
.accueil .frant-1 header a
{
    text-decoration: none;
    width:170px;
    height:35px;
    background:none;
    outline: none;
    border:3px solid #463F57;
    color:#463F57;
    border-radius:20px;
    margin-right:40px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items: center;
    
}
.accueil .frant-1 .contenu
{
    width:100%;
    height:80%;
    /* background:pink; */
}
.accueil .frant-1 .contenu .application
{
    width:100%;
    height:80%;
    /* background:rgb(199, 166, 123); */
    display: flex;
    justify-content:center;
    align-items:center;
}
.accueil .frant-1 .contenu .application img
{
    width:300px;
    height:300px;
    /* background:teal; */
} 
.accueil .frant-1 .contenu .application .applicationName
{
    /* background:teal; */
    color:#463F57;
    font-size:2.5em;
    text-transform: uppercase;
    position: relative;
    letter-spacing:10px;
} 
.accueil .frant-1 .contenu .application .applicationName a
{
    color:#463F57;
}
.accueil .frant-1 .contenu .application .applicationName span
{
    font-size:15px;
    width:280px;
    position:absolute;
    top:-15px;
    right:-10px;
    display:flex;
} 
.accueil .frant-1 .cnx
{
    width:180px;
    height:40px;
    background:none;
    outline: none;
    border:3px solid #463F57;
    color:#463F57;
    border-radius:20px;
    margin-right:40px;
    cursor:pointer;
    position: absolute;
    top:65%;
    left:50%;
    transform: translate(-50%,-50%);
}
/* .accueil .frant-2
{
    width:100%;
    height:100vh;
    background:white;
} */
/*.accueil .frant-3
{
    width:100%;
    height:100vh;
    background:black;
}
.accueil .frant-4
{
    width:100%;
    height:100vh;
    background:white;
}
.accueil .frant-5
{
    width:100%;
    height:100vh;
    background:#AEA292;
} */