.createProject
{
    width:100%;
    height:100%;
    border-radius:30px 0 0 30px;
}
.createProject .title
{
    /* background:pink; */
    color:#463F57;
    width:100%;
    height:50%;
    position:relative;
}
.createProject .title h1
{
    /* background:rgb(161, 4, 31); */
    font-size:10em;
    letter-spacing:10px;
    position: absolute;
    top:70px;
    left:50px;
}
.createProject .title h4
{
    /* background:rgb(161, 4, 31); */
    font-size:2em;
    letter-spacing:10px;
    position: absolute;
    top:70px;
    right:400px;
}

.createProject .content
{
    /* background:rgb(77, 201, 233); */
    color:#463F57;
    width:100%;
    height:50%;
    position:relative;
}
.createSection
{
    /* background:teal; */
    width:100%;
    height:100%;
}
.createSection .form1
{
    /* background:rgb(221, 134, 134); */
    width:100%;
    height:90%;
    display:flex;
    align-items:flex-end;
}
.createSection .form1 div 
{
    width:50%;
    height:100%;
    /* background:orange; */
    display:flex;
    flex-direction: column;
    justify-content:center;
    /* align-items:center; */
}
.createSection .form1 div input[type="text"]
{
    width:450px;
    height:40px;
    padding-left:15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid #463F57;
    outline:none;
    margin-left:70px;
    letter-spacing:2px;
    background:none;
    
}
.createSection .form1 div input[type="text"]:nth-child(2)
{
    width:210px;
    margin-top:10px;
}


.createSection .form1 button
{
    height:40px;
    width:15%;
    background:none;
    border-radius:5px;
    border:1px solid #463F57;
    outline:none;
    color:#463F57;
    /* margin-bottom:50px; */
    margin-left:350px;
    cursor:pointer;
}

/*================ Form 2 ====================*/

.createSection .form2
{
    /* background:rgb(221, 134, 134); */
    width:100%;
    height:90%;
    display:flex;
}
.form2 .firstBox
{
    /* background:rgb(39, 3, 83); */
    width:50%;
    height:100%;
    /* display:flex; */
}
.form2 .firstBox div
{
    /* background:rgb(210, 200, 221); */
    margin-top:20px;
    margin-left:70px;
    position: relative;
}
.form2 .secondBox
{
    /* background:rgb(161, 145, 181); */
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
}
.form2 .firstBox input[type="text"]
{
    width:450px;
    height:40px;
    padding-left:15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid #463F57;
    outline:none;
    margin-top:40px;
    margin-left:70px;
    letter-spacing:2px;
    background:none;
}
.form2 .firstBox input[type="date"]
{
    width:200px;
    height:40px;
    padding-left:15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid #463F57;
    outline:none;
    /* margin-top:5px; */
    margin-right:36px;
    letter-spacing:2px;
    background:none;
}
.form2 .firstBox label
{
    position: absolute;
    font-size:10px;
}
.form2 .secondBox input[type="number"]
{
    width:300px;
    height:40px;
    padding-left:15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid #463F57;
    outline:none;
    margin-top:40px;
    /* margin-left:70px; */
    letter-spacing:2px;
    background:none;
}
.form2 .secondBox button
{
    height:40px;
    width:20%;
    background:none;
    border-radius:5px;
    border:1px solid #463F57;
    outline:none;
    color:#463F57;
    /* margin-bottom:50px; */
    margin-left:350px;
    cursor:pointer;
}
.CloseSection
{
    top:-210px;
    right:60px;
}
/*==========================================*/

.createSection footer
{
    /* background:pink; */
    width:100%;
    height:10%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.createSection footer div
{
    background:white;
    width:7px;
    height:7px;
    border:1px solid #463F57;
    border-radius: 50%;
    margin-right:5px;
}

::-webkit-input-placeholder
{
    color:#463F57;
}





