.updateUserInfo .changeInfo .box .elm
{
    /* background:rgb(185, 128, 128); */
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width:250px;
    box-sizing: border-box;
}
.updateUserInfo .changeInfo .box .elm input[type='text'],.changeInfo .box .elm input[type='password']
{
    width:95%;
    height:40px;
    padding-left:15px;
    border:1px solid #463F57;
    outline:none;
    letter-spacing:2px;
    background:none;
    margin-top:5px;
    border-radius:5px;
}
.changeInfo .box:nth-child(1) .elm:nth-child(2),.changeInfo .box:nth-child(2) .elm:nth-child(2),.changeInfo .box:nth-child(3) .elm:nth-child(1)
{
    width:65%;
}
.changeInfo .box:nth-child(3) .elm:nth-child(1) input[type='text']
{
    width:97.5%;
}
.updateUserInfo .changeInfo .box:nth-child(4)
{
    align-items: flex-end;
    margin-bottom:20px;
    margin-top:20px;
}
.updateUserInfo .changeInfo textarea
{
    width:65%;
    height:100%;
    border:1px solid #463F57;
    border-radius:10px;
    margin:0;
    outline:none;
    background:none;
    margin-left:-5px;
    resize: none;
}
.updateUserInfo .changeInfo button
{
    width:180px;
    height:40px;
    padding:0 20px 0 20px;
    background:none;
    border-radius:5px;
    border:1px solid #463F57;
    outline:none;
    color:#463F57;
    cursor:pointer;
    /* margin-right:10px; */
}