.stateProject
{
    width:100%;
    height:100%;
    border-radius:30px 0 0 30px;
    display: flex;
    justify-content:flex-end;
    overflow-y:auto;
    flex-wrap: wrap;
    /* background:pink; */
}
.stateProject .title
{
    /* background:pink; */
    color:#463F57;
    width:100%;
    height:50%;
    position:relative;
}
.stateProject .title h1
{
    /* background:rgb(161, 4, 31); */
    font-size:10em;
    letter-spacing:10px;
    position: absolute;
    top:70px;
    left:50px;
}
.stateProject .title h4
{
    /* background:rgb(161, 4, 31); */
    font-size:2em;
    /* letter-spacing:5px; */
    position: absolute;
    top:70px;
    left:753px;
}

.test
{
    width:300px;
    height:150px;
    border-radius:20px;
    background:grey;
    margin:10px;
    padding:10px;
    opacity:0.8;
}
/*====================== Report =====================*/
.report_1
{
    width:100%;
    height:100%;
    border-radius:30px 0 0 30px;
    /* background:pink; */
}
.report_1 .title
{
    width:100%;
    height:20%;
    /* background:rgb(138, 172, 27); */
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:flex-end;
    position:relative;
    color:#463F57;
}
.report_1 .title h1
{
    /* background:rgb(161, 4, 31); */
    font-size:4em;
    letter-spacing:6px;
    margin-right:80px;
}
.report_1 .title h4
{
    margin-right:87px;
    font-size:1.5em;
    position:absolute;
    top:15px;
}
.etatChangable
{
    width:100%;
    height:80%;
    /* background:rgb(30, 196, 241); */
    position:relative;
    display:flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
}
.chartPro
{
    width:100%;
    height:90%;
    /* background:pink; */
    display:flex;
    justify-content:center;
    align-items:center;
}
.etatChangable .chartPro .deadLine
{
    width:90%;
    height:2px;
    background:#463F57;
}
.etatChangable .chartPro .porte
{
    width:15px;
    height:15px;
    border-radius: 50%;
    background: #463F57;
    cursor: pointer;
}
.etatChangable .chartPro .ListAvencemant
{
    position: absolute;
    width:90%;
    height:90%;
    /* background:rgb(72, 214, 204); */
}
.etatChangable .chartPro .ListAvencemant .avn_Up
{
    width:100%;
    height:50%;
    /* background:rgb(160, 211, 202); */
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
    position: relative;

}
.etatChangable .chartPro .ListAvencemant .avn_Down
{
    width:100%;
    height:50%;
    /* background:rgb(21, 155, 88); */
    display: flex;
    justify-content:space-around;
    position: relative;
}
.etatChangable .chainePro
{
    width:97%;
    height:100%;
    /* background:rgb(214, 176, 94); */
    display:flex;
    justify-content:flex-start;
     flex-wrap: wrap;
    overflow-y:auto;
}
/*==========================================================*/
.etatChangable ::-webkit-scrollbar
{
    display:none;
}








.report_1 .chart_etat
{
    /* background-color: burlywood; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:50px;
    height:100px;
    position:absolute;
    bottom:0px;
    right:0;
}

.report_1 .chart_etat .icon_div
{
    height:45px;
    z-index:3;
}
.report_1 .chart_etat .icon_div .wall
{
    width:5px;
    height:50px;
    background:#463F57;
    position: absolute; 
    left:45px;
    border-radius:60px 0 0 60px;
    z-index:3;
}
.report_1 .closeIcon
{
    left:80px;
    z-index:3;
}